---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Colophon"
	description="Why and how I built my personal website, the tools and technologies I used, and the principles that govern the site."
	pubDate={new Date('October 26 2024')}
	heroImage="/blog-placeholder-1.jpg"
>
	<p>
		My personal website is my home on the web. It is build with Astro, based on the official Astro Blog template, and hosted on Netlify as a static site.
	</p>

</Layout>
