---
import Layout from "../layouts/Note.astro";
---

<Layout
  title="RSS Feeds"
  description="My personal website has two RSS feeds, one for notes and one for articles. You can subscribe to them with an RSS reader."
  pubDate={new Date("November 21 2024")}
  heroImage="/blog-placeholder-1.jpg"
>
  <p>
    This website has two RSS feeds, one for <a href="/articles/rss.xml"
      >articles</a
    > and one for <a href="/notes/rss.xml">notes</a>.
  </p>

  <p>
    The RSS feed for articles may work better than the one for notes. Some of
    the notes are meant to be updated over time. The automatic RSS feed
    generation for Astro website unfortunately adds only the publication date of
    an item to the feed but not the date of the last update. That is, you may
    only get notified when a new note was published, not when a previously
    published note was updated.
  </p>

  <p>
    If you are new to RSS feeds, visit <a href="https://aboutfeeds.com/"
      >About Feeds</a
    > to get started with RSS readers and subscribing to feeds. It's free!
  </p>
</Layout>
