---
import Layout from "../layouts/Note.astro";
---

<Layout
  title="RSS Feeds"
  description="My personal website has two RSS feeds, one for notes and one for articles. You can subscribe to them with an RSS reader."
  pubDate={new Date("November 21 2024")}
  heroImage="/blog-placeholder-1.jpg"
>
  <p>
    This website has two RSS feeds, one for <a href="/articles/rss.xml"
      >articles</a
    > and one for <a href="/notes/rss.xml">notes</a>.
  </p>

  <p>
    If you are new to RSS feeds, visit <a href="https://aboutfeeds.com/"
      >About Feeds</a
    > to get started with RSS readers and subscribing to feeds. It's free!
  </p>
</Layout>
