---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi there! I'm Sabine.</h1>

			<p>I'm an aspiring web developer and a former chemist. What I bring from chemistry to software development is a systematic approach to problem solving and the grit to not give up easily.</p>
			
			<p>I'm currently learning full-stack JavaScript with <a href="https://www.theodinproject.com/">The Odin Project</a> and <a href="https://www.frontendmentor.io/">Frontend Mentor</a>. As a side project, I'm building my personal website with <a href="https://astro.build/">Astro</a>.</p>
		
			<h2>My technical skills</h2>
			<ul>
				<li>HTML & CSS</li>
				<li>JavaScript</li>
				<li>Astro</li>
				<li>Git & GitHub</li>
				<li>Figma</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
