---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hello, I'm Sabine.</h1>

      <p>
        <strong>Welcome to my home on the World Wide Web!</strong> This is my personal
        website, where I publish <a href="/notes/">notes</a> and <a
          href="/articles/">articles</a
        > on a variety of topics that interest me. And it's a playground to practice
        my <a href="/notes/technical-milestones/">web development skills</a>.
      </p>

      <p>
        You can find out more about what I'm up to these days on the <a
          href="/now/">now</a
        > page and read how I made this website on the <a href="/colophon/"
          >colophon</a
        >.
      </p>
    </main>
    <Footer />
  </body>
</html>
