---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👩‍💻 Hello, I'm Sabine! </h1>
			<p>
				Welcome to my personal website! I'm a self-taught web developer from Germany, living in the southeastern United States.
			</p>
			<p>
				I'm building this website with the official <a href="https://astro.build/">Astro</a> blog starter template. This
				template serves as a lightweight, minimally-styled starting point for anyone looking to build
				a personal website, blog, or portfolio with Astro.
			</p>
			<p>
				This site is still under construction and a work in progress. Come back soon to see what's new!
			</p>
		</main>
		<Footer />
	</body>
</html>
