---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Now"
	description="What I'm focused on at this point in my life, the projects I'm working on, and the topics I'm interested in."
	pubDate={new Date('October 26 2024')}
	heroImage="/blog-placeholder-1.jpg"
>
	<p>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae corrupti eius amet voluptas minus molestias architecto officiis praesentium magnam aperiam velit sed, illo necessitatibus rem numquam, quas, voluptatem debitis soluta!
	</p>

</Layout>
