---
import Layout from "../layouts/Note.astro";
---

<Layout
  title="Now"
  description="What I'm focused on at this point in my life, the projects I'm working on, and the topics I'm interested in."
  pubDate={new Date("November 07 2024")}
  updatedDate={new Date("November 19 2024")}
  heroImage="/blog-placeholder-2.jpg"
>
  <!-- The Odin Project -->
  <p>
    My main focus is learning web development with <a
      href="https://www.theodinproject.com/">The Odin Project</a
    >. I'm on the <cite>Full Stack JavaScript</cite> learning path and wrapping up
    the course <cite>Intermediate HTML & CSS</cite> with <cite
      >Project: Admin Dashboard</cite
    >. The next course is <cite>JavaScript</cite>.
  </p>
  <!-- Frontend Mentor -->
  <p>
    For additional coding practice, I'm working on the learning path <cite
      >Building Responsive Layouts</cite
    > on <a href="https://www.frontendmentor.io/">Frontend Mentor</a>. You can
    find my solutions and the feedback I gave to others on my <a
      href="https://www.frontendmentor.io/profile/SabineEmden"
      >Frontend Mentor profile</a
    >.
  </p>
  <!-- Astro Website -->
  <p>
    As a side project, I'm building this website with <a
      href="https://astro.build/">Astro</a
    >. You can read more about it in the <a href="/colophon">Colophon</a>. I'm
    working on getting a basic version up and running. Next is connecting a
    Content Management System (<abbr>CMS</abbr>).
  </p>
  <!-- Learning in Public -->
  <p>
    One of the reasons why I'm building this website is to <a
      href="https://www.swyx.io/learn-in-public">learn in public</a
    > by publishing notes and articles. Other places where I share what I learned
    are the READMEs for the projects on my <a
      href="https://github.com/SabineEmden">GitHub profile</a
    > and my <a href="https://mastodon.online/@sabineemden"
      >profile on Mastodon</a
    >.
  </p>
  <!-- Web Sustainability -->
  <p>
    My interest in web sustainability is on the back burner. I'm rereading <cite
      >Sustainable Web Design</cite
    > by Tom Greenwood and listening to a couple of podcasts on climate action and
    green software. For a list of resources see my note <a
      href="/notes/digital-sustainability-resources/"
      >Digital Sustainability Resources for Web Developers</a
    >.
  </p>
  <!-- Running -->
  <p>
    To get away from my computer occasionally, I decided to get back into
    running. I'm training for a 5K race (3.16 miles) in mid December. To train
    for a race is the best way for me to stick to a regular exercise routine.
  </p>
  <!-- Literary Passport -->
  <p>
    My leisure reading project is the <a
      href="https://www.bookmarksnc.org/passport">Literary Passport</a
    > by Bookmarks, a nonprofit and independent bookstore in Winston-Salem, NC. The
    goal is to read one book from each country in the world. I'm reading <cite
      >Our Share of Night</cite
    > by Mariana Enriquez. It's book two of twelve for South America.
  </p>
</Layout>
