---
import Layout from "../layouts/Note.astro";
---

<Layout
  title="Now"
  description="What I'm focused on at this point in my life, the projects I'm working on, and the topics I'm interested in."
  pubDate={new Date("November 07 2024")}
  updatedDate={new Date("September 9 2025")}
  heroImage="/blog-placeholder-2.jpg"
>
  <!-- Google Project Management -->
  <p>
    My main focus is on expanding my project management skills with <a
      href="https://www.coursera.org/professional-certificates/google-project-management"
      >Google Project Management: Professional Certificate</a
    >, a series of seven courses on the online learning platform Coursera. I'm
    working on the third course, <a
      href="https://www.coursera.org/learn/project-planning-google?specialization=google-project-management"
      >Project Planning: Putting It All Together</a
    >.
  </p>
  <!-- Astro Website -->
  <p>
    My personal website is my side project. I take <a href="/notes/sws-kickoff/"
      >Small Web September</a
    > is inspiration to bring it up to date. I neglected the website for a long time.
    That needs to change!
  </p>
  <!-- Running -->
  <p>
    My current fitness goal is a three-day hike on the <a
      href="https://en.visitmosel.de/hiking">Moselsteig Trail</a
    > in mid October. To train for it, I run, walk, hike, and do Pilates to work
    on my core strength. I'm also looking for a new running club. My current club
    moved their weekly group runs to a new location, and now the drive is too long
    for me.
  </p>
  <!-- Handicraft -->
  <p>
    As a creative outlet, I'm learning <a
      href="https://en.wikipedia.org/wiki/Punch_needle">punch needle</a
    >, a type of embroidery where a hollow needle is punched repeatedly into a
    piece of woven fabric to create tightly packed loops that are held together
    by tension. It is surprisingly cathartic and relaxing to stab something
    repeatedly!
  </p>
  <!-- Mindfulness -->
  <p>
    In my mindfulness practice, my focus is on self-compassion and
    loving-kindness meditation. I'm working with the book <a
      href="https://www.guilford.com/books/The-Mindful-Path-to-Self-Compassion/Christopher-Germer/9781593859756/"
      >The Mindful Path to Self-Compassion</a
    > by Christopher Germer.
  </p>
</Layout>
